@import url('./inter-fontface/font.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body > div {
  display: flex;
  justify-content: center;
}

#root {
  width: 90%;
  max-width: 800px;
  padding-bottom: 3em;
}

@media only screen and (max-width: 800px) {
  #root {
    overflow-x: hidden;
  }
}

h1 {
  font-weight: 400;
  font-size: 200%;
}

h2 {
  font-weight: 700;
  font-size: 150%;
}

.button, button {
  color: black;
  outline: none !important;
  cursor: pointer;
  font-size: 125%;
  background-color: white;
  border: solid 3px black;
  padding: 0.5em 0.6em;
  box-shadow: 0 6px 0 black;
}

.button:hover, button:hover {
  text-decoration: underline;
  transform: translateY(-2px);
  box-shadow: 0 8px 0 black;
}

.button:active, button:active {
  text-decoration: underline;
  transform: translateY(4px);
  box-shadow: 0 2px 0 black;
}